a:hover {
  background-color: lavender;
}

table,th, td{
  border: 1px solid purple;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  /*
  Citation for background diagonal design
  Date: 11/21/2022
  Source from codepen
  URL: ttps://codepen.io/amite/pen/rPQWaj
  */
  body {
    background-color: #7644ff;
    background-image: -webkit-linear-gradient(150deg, #7644ff 35%, #6936F5 35%);
    min-height: 900px;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
  
  nav{
    padding-top: 20px;
    text-align: center;
  }
  
  nav a {
    color: #FCF7FF;
    padding: 0px 15px;
    font-size: 18px;
    font-weight: 500;
  }
  
  nav a:hover {
    color: #FDB5FF;
  }
  
  
  /*
  Citation for centering image on page
  Date: 11/21/2022
  Source from stackoverflow
  URL: https://stackoverflow.com/questions/20878342/making-image-align-center-of-screen-in-html
  */ 
  .logo-transparent {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  #logo {
    max-width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  table,th, td{
      border: 1px solid purple;
  }
  
  th, td {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
  }
  
  fieldset {
      border: 1px solid slateblue;
      background-color: lavender;
    }
  
  input {
      outline: 0;
      border-width: 0 0 1.5px;
      border-color: blueviolet;
      background-color: lavender; 
      margin-right: 20px;
    }
  
  select {
    margin-right: 20px;
  }
  
  /* 
  Citation for pill button design
  Date: 11/10/2022
  Source from W3Schools 
  URL: https://www.w3schools.com/howto/howto_css_pill_button.asp
  */
  
  .button {
      border: none;
      background-color: slateblue;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 16px;
    }
  
  .button:hover {
      background-color: #967FF0;
    }
  text-align: center;
}


fieldset {
  border: 1px solid slateblue;
  background-color: lavender;
}

input {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: blueviolet;
  background-color: lavender; 
  margin-right: 20px;
}

select {
  margin-right: 20px;
}

/* 
Citation for pill button design
Date: 11/10/2022
Source from W3Schools 
URL: https://www.w3schools.com/howto/howto_css_pill_button.asp
*/

.button {
  border: none;
  background-color: slateblue;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #967FF0;
}