{# Date: 11/10/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 #}

{% extends 'base.j2' %}
{% block content %}


<h1>Accounts</h1>
<table>
{% if accounts %}
    <thead>
        <tr>
            {% for attribute in accounts[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in accounts %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}
                <td><a href="edit_account/{{ item.account_id }}">Edit</a></td>
                <td><a href="delete_account/{{ item.account_id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# Date: 11/10/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 #}
<h3>Add Account</h3>
<div id="add">
    <form id="addAccount" action="/add_account/" method="post">
        <fieldset>
            <label for="first_name">first name:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">last name:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="email">email:</label>
            <input type="text" id="email" name="email" required>
            <br><br>
            <label for="password">password:</label>
            <input type="text" id="password" name="password" required>    

            {# Citation for phone number input
            Date: 11/14/2022
            Source from MDN Web docs 
            URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel #}
            <label for="phone_number">phone number:</label>
            <input type="tel" id="phone_number" name="phone_number" placeholder="Ex: 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

            <label for="account_type">type:</label>
            <select name="account-type" id="account-type">
                    <option value="patron">Patron</option>
                    <option value="chef">Chef</option>
                    <option value="driver">Driver</option>
            </select>
            <input type="submit" value="Submit" name="Add_Account" class="button" type="button">
        </fieldset>
    </form>

{% endif %}
{% endblock %}