{# Citation for creating a table:
Date: 11/15/2022
Sourced from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app
URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 #}

{% extends 'base.j2' %}
{% block content %}

<h1>Chefs</h1>
<h4>To delete Chef accounts, you must first delete rows from Foods page where made_by matches the account number.</h4>
<table>
{% if chefs %}
    <thead>
        <tr>
            {% for attribute in chefs[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in chefs %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}

                {# Citation for favicons added to Edit and Delete columns
                Date: 11/28/2022
                Copied fontawesome website for each icon
                Source URL: https://fontawesome.com/icons/pen-to-square?s=regular&f=classic & https://fontawesome.com/icons/trash?s=regular&f=classic #}

                <td><a href="edit_chef/{{ item.account_id }}" class="edit"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="delete_chef/{{ item.account_id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% elif not chefs and not unassigned_chefs %}
    <h4>Please create accounts first.</h4>
    {% endif %}
</table>


{# Citation for reading form data for CRUD operations:
Date: 11/17/2022
Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app
URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 #}

{% if unassigned_chefs %}
<h3>Add Chef</h3>
<div id="add">
    <form id="addChef" action="/add_chef/" method="post">
        <fieldset>
            <label for="chef_id">Chef's account ID:</label>
            <select name="chef_id" id="chef_id">
                {% for chef in unassigned_chefs %}
                    <option value="{{ chef.account_id }}">{{ chef.account_id }}</option>
                {% endfor %}
            </select>

            <label for="cert_number">Cert number:</label>
            <input type="text" id="cert_number" name="cert_number" required>

            <label for="specialty">Specialty:</label>
            <input type="text" id="specialty" name="specialty" required>    
            
            <input type="submit" value="Submit" name="Add_Chef" class="button" type="button">
        </fieldset>
    </form>

{# {% elif chefs %}
    <thead>
        <tr>
            {% for attribute in chefs[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in chefs %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}
                <td><a href="edit_chef/{{ item.account_id }}" class="edit"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="delete_chef/{{ item.account_id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
#}
{% elif chefs and not unassigned_chefs %}
<h4>All chef accounts have been accounted for.  If you want to add another chef, first to go the Accounts tab above and create a chef account.</h4>
{% endif %}
{% endblock %}
