{# Date: 11/15/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 #}
{% extends 'base.j2' %}
{% block content %}

<h1>Drivers</h1>
<table>
{% if drivers %}
    <thead>
        <tr>
            {% for attribute in drivers[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in drivers %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}
                <td><a href="edit_driver/{{ item.account_id }}" class="edit"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="delete_driver/{{ item.account_id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% elif not drivers and not unassigned_drivers %}
    <h4>Please create accounts first.</h4>
    {% endif %}
</table>

{# Date: 11/17/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 #}
{% if unassigned_drivers %}
<h3>Add Driver</h3>
<div id="add">
    <form id="addDriver" action="/add_driver/" method="post">
        <fieldset>
            <label for="driver_id">Driver's account ID:</label>
            <select name="driver_id" id="driver_id">
                {% for driver in unassigned_drivers %}
                    <option value="{{ driver.account_id }}">{{ driver.account_id }}</option>
                {% endfor %}
            </select>

            <label for="license_plate">License plate:</label>
            <input type="text" id="license_plate" name="license_plate" required>

            <label for="license_number">License number:</label>
            <input type="text" id="license_number" name="license_number" required>    
            
            <input type="submit" value="Submit" name="Add_Driver" class="button" type="button">
        </fieldset>
    </form>


{% elif drivers and not unassigned_drivers %}
<h4>All driver accounts have been accounted for.  If you want to add another driver, first to go the Accounts tab above and create a driver account.</h4>
{% endif %}
{% endblock %}