{# Date: 11/15/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 #}
{% extends 'base.j2' %}
{% block content %}

<h1>Foods</h1>
<table>
{% if foods and orders %}
    <thead>
        <tr>
            {% for attribute in foods[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in foods %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}
                <td><a href="edit_food/{{ item.food_id }}" class="edit"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="delete_food/{{ item.food_id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3>Add Food</h3>
<div id="add">
    <form id="addFood" action="/add_food/" method="post">
        <fieldset>
            <label for="order_id">Order ID:</label>
            <select name="order_id" id="order_id">
                {% for order in orders %}
                    <option value="{{ order.order_id }}">{{ order.order_id }}</option>
                {% endfor %}
            </select>

            <label for="made_by">Made by:</label>
            <select name="made_by" id="made_by">
                {% for food_creator in food_creators %}
                    <option value="{{ food_creator.account_id }}">{{ food_creator.account_id }}</option>
                {% endfor %}
            </select>
            
            <label for="food_name">Food name:</label>
            <input type="text" id="food_name" name="food_name">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>    

            <label for="is_vegan">Is vegan:</label>
            <select name="is_vegan" id="is_vegan">
                    <option value="1">1</option>
                    <option value="0">0</option>
            </select>

            <label for="is_vegetarian">Is vegetarian:</label>
            <select name="is_vegetarian" id="is_vegetarian">
                    <option value="1">1</option>
                    <option value="0">0</option>
            </select>

            <label for="price">Price:</label>
            <input type="number" step="0.01" min=0 id="price" name="price" required>

            <input type="submit" value="Submit" name="Add_Food" class="button" type="button">
        </fieldset>
    </form>


{% else %}
<h4>Either no foods exist or no order exists.</h4>
{% endif %}
{% endblock %}