{% extends 'base.j2' %}
{% block content %}

    <h1>Welcome to FeastMe!</h1>
    <p>A food delivery ordering system that streamlines the order-prepare-deliver process. FeastMe aims for more accurate food orders, enables faster delivery times, and increases higher customer satisfaction.</p>

{% endblock %}