{# Date: 11/15/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 #}
{% extends 'base.j2' %}
{% block content %}

<h1>Orders</h1>
<table>
{% if orders %}
    <thead>
        <tr>
            {% for attribute in orders[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in orders %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}
                {# Citation for favicons added to Edit and Delete columns
                Date: 11/28/2022
                Copied fontawesome website for each icon
                Source URL: https://fontawesome.com/icons/pen-to-square?s=regular&f=classic & https://fontawesome.com/icons/trash?s=regular&f=classic #}
                <td><a href="edit_order/{{ item.order_id }}" class="edit"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="delete_order/{{ item.order_id }}" class="delete"><i class="fa-regular fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>

{% if patrons and drivers %}
<h3>Add Order</h3>
<div id="add">
    <form id="addOrder" action="/add_order/" method="post">
        <fieldset>
            <label for="ordered_by">Ordered by:</label>
            <select name="ordered_by" id="ordered_by">
                {% for patron in patrons %}
                    <option value="{{ patron.account_id }}">{{ patron.account_id }}</option>
                {% endfor %}
            </select>

            <label for="delivery_by">Delivery by:</label>
            <select name="delivery_by" id="delivery_by">
                {% for driver in drivers %}
                    <option value="{{ driver.account_id }}">{{ driver.account_id }}</option>
                {% endfor %}
            </select>
            
            <label for="order_time">Order time:</label>
            <input type="text" id="order_time" name="order_time">

            <label for="total_price">Total price:</label>
            <input type="number" steps="0.01" min=0 id="total_price" name="total_price" required>    

            <label for="order_status">Order status:</label>
            <input type="text" id="order_status" name="order_status" required>    

            <input type="submit" value="Submit" name="Add_Order" class="button" type="button">
        </fieldset>
    </form>

{% elif not patrons or not drivers %}
<h4>Either no drivers exist or no patrons exists.  Please create them first.</h4>
{% endif %}
{% endblock %}