{# Date: 11/15/2022; Source from GitHub Reposotiry osu-cs-340-ecampus/flask-starter-app; URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 #}
{% extends 'base.j2' %}
{% block content %}

<h1>Search Orders Result</h1>
<table>
{% if search_result %}
    <thead>
        <tr>
            {% for attribute in search_result[0].keys() %}
                <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in search_result %}
        <tr>
            {% for key in item.keys() %}
                <td>{{ item[key] }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h4>No order is found.</h4>
{% endif %}
{% endblock %}
