a:hover {
    background-color: lavender;
}

table,th, td{
    border: 1px solid purple;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


fieldset {
    border: 1px solid slateblue;
    background-color: lavender;
  }

input {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: blueviolet;
    background-color: lavender; 
    margin-right: 20px;
  }
